.inputHolder{
    display: flex;
    gap: 4px;
    border:1px solid #cccccc;
    border-radius: 4px;
    align-items: center;
    overflow: hidden;
    .country-code{
        background-color: #cccccc;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 18px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type="number"] {
    -moz-appearance: textfield;
    }
    input{
        padding: 16px 8px;
        border:unset;
        outline: none;
    }
}